//  通用样式
  
body {
  margin: 0px;
  padding: 0px;
  background: #fafafa;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.radius {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%; 
  border-radius: 100%;
}

pre {
  white-space: pre-wrap; /* css-3 */  
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */  
  white-space: -pre-wrap; /* Opera 4-6 */  
  white-space: -o-pre-wrap; /* Opera 7 */  
  word-wrap: break-word; /* Internet Explorer 5.5+ */  
}
.center {
  margin: 0 auto;
}

.content {
    padding: 0 20px; 
    background: white; 
    margin-top: 20px;
    border-radius: 4px;
}	

.control {
  padding: 20px 0 ;
  background: white;
}

.toolbar {
  padding: 20px;
  background: white;
}

.el-dialog {
  width: 670px;
  border-radius: 4px;
  .el-dialog__header {
    padding: 30px 50px 0;
  }

  .el-dialog__body {
    padding-bottom: 0;
  }

  .el-dialog__footer {
    padding-top: 0;

    .dialog-footer {
      padding: 0 20px 10px 0;
    }
  }
  .el-form-item {
    width: 90%;
    margin: 0 auto 22px auto;

    .el-form-item__label {

      &:before {
        content: '*';
        color: #ff4949;
        margin-right: 4px;
      }
    }
    .el-form-item__content {


      .el-input {
        width: 95%;
      }
    }
  }
}
.unRequire {
  .el-form-item__label {
    &:before {
      content: '' !important;
    }
  }
}

.el-tooltip__rel {
  height: 60px;
}

.el-message-box__wrapper {
  z-index: 20000 !important;
}


// 清除浮动
.clearfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.emoji-box {
  position: absolute;
  z-index: 10;
  left: -10px;
  top: 24px;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
  background: white;
  .el-button {
    position: absolute;
    border: none;
    color: #FF4949;
    right: 12px;
    top: 12px;
    z-index: 10;
  }
  .arrow {
    left: 10px;
  }
}

// 整体区域
.fadeIn-enter-active, .fadeIn-leave-active { transition: all .3s; }
.fadeIn-enter, .fadeIn-leave-active { opacity: 0; }
.fadeIn-enter { transform: translateX(31px); }
.fadeIn-leave-active { transform: translateX(-31px); }

// 右边内柔区域淡入淡出
.slide-fade-enter-active { transition: all .3s ease;}
.slide-fade-leave-active { transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);}
.slide-fade-enter, .slide-fade-leave-active { transform: translateX(20px); opacity: 0;}


// 左右导航
.slide-left-enter, .slide-right-leave-active {
  transition: all .5s cubic-bezier(.55,0,.1,1);
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active, .slide-right-enter {
  transition: all .5s cubic-bezier(.55,0,.1,1);
  opacity: 0;
  transform: translate(-30px, 0);
}


// 列表过度
.list-enter-active, .list-leave-active { transition: all .5s; }
.list-enter, .list-leave-active { opacity: 0; transform: translateX(30px); }
.list-leave-active { position: absolute !important; }
.list-move { transition: all .5s;}

// 卡片部分
.fade-enter-active, .fade-leave-active { transition: opacity .5s; }
.fade-enter, .fade-leave-active { opacity: 0; }
.fade-move { transition: transform .4s; }

// 滚动条样式
::-webkit-scrollbar-track-piece {
    background-color: #f5f5f5;
    border-left: 1px solid #d2d2d2;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #fff;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  display: none;
}

::-webkit-scrollbar-thumb {
    padding-top: 100px;
    background-color: #dadada;
    background-clip: padding-box;
    min-height: 28px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #929292;
}

// input 为number 在火狐浏览器下的bug
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0; 
}

input[type="number"]{ -moz-appearance:textfield; }
