  $width: 20px;
  $blue: #20A0FF;
  $lightBlue: #5ac1dd;
  $darkBlue: #3f90cd;
  $gray: #d1dbe5;
  $background: rgb(238, 238, 238);
  $hover: #f6f8fa;
  $red: #FF4949;
  $darkRed: #d9544e;
  $yellow: #efad4c;
  $green: #5ab95c;
  $white: #fff;
  $content: 1200px;

